<div class="min-vh-100 bg-light">
  <div class="container py-4">
    <header class="text-center mb-4">
      <h1 class="display-4 text-primary">Тренажер таблицы умножения</h1>
      <p class="lead">Развивайте навыки умножения с помощью интерактивного тренажера</p>
    </header>

    <main>
      @if (currentView === 'settings'){
      <app-settings (startTraining)="onStartTraining($event)"></app-settings>
      }
      @if (currentView === 'training'){
      <app-training></app-training>
      }
    </main>
  </div>
</div>

<router-outlet />
